*{
    margin: 0px;
    box-sizing: border-box;
    padding:0px; 
}
body{
    height:110vh;
    width:100 vw;
    background: linear-gradient(hsl(226, 100%, 4%),hsl(226, 71%, 22%));
    background-repeat: no-repeat;
    color: white;
    display: flex;
    justify-content: start;
    align-items: center; 
    flex-direction: column;    
}
body>header{
    padding:1rem; 
    display: flex;
    align-items:start;
    justify-content: center;
}
.head{
    height: 8vh;
    width:75vw;
    border: 2px solid hsl(226, 25%, 17%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:1rem; 
    align-items: center;
    background-color: hsl(225, 23%, 24%);
    border-radius:2.5vh;
}    
.head>button{
    height:5vh;
    width: 3vw;
    border: 2px solid rgba(77, 74, 74, 0.644) ;
    border-radius:1vh;
    box-shadow: none;
}
.head>.h11{
    display: flex;
    align-items:start;
    justify-content: center;
    font-family: Noto Sans;
    font-size: 26px;
    gap:10px;
}
.h11>img{
    height:4vh;
    width: 2vw; 
}

.main{
    height: 10vh;
    width: 75vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 0.5rem ;
}
.main>.left{
    font-size: 26px;
    font-weight: bold;
}
.main>.right{
    height: 10vh;
    width: 20vw;
    display: flex;
    justify-content:space-between ;
    align-items: center;    
}
.main>.right>.btn{
    height: 5vh;
    width:5vw ;
    border-radius:4vh;
    box-shadow: none;
    color: white;
    background-color:hsl(226, 89%, 18%);
    box-shadow: none;
    border: 2px solid transparent;
}
.main>.right>.btn:hover{
    background-color:hsl(0, 91%, 50%);
}
.lastbox{
    padding: 0rem 0.5rem;
    height:70vh;
    width: 75vw;
    display: grid;
    grid-template-columns: auto auto auto;  
    gap: 1.5rem; 
    justify-content: center;
                 
}
.box{
  height: 18vh;
  width: 24vw;
}
.lastbox>.box{    
    border: 2px solid  rgb(165, 155, 155) ; 
    border-radius: 2vh; 
    padding:15px; 
    display: flex;
    flex-direction:column;  
    justify-content: space-between; 
    gap: 1rem;
    background: #535050;
}
.boxes{
    display: flex;
    gap:10px;
}
.bottombtn{
    height: 4vh;
    width:5vw;
    border-radius:1.2vh;
    box-shadow: none;
    color:white;
    background:transparent;
    border: 1px solid gray;
}
.boxess{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #918c8c;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius:2vh ;
}
.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(252, 248, 248);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius:2vh ;
}
input:checked + .slider {
  background-color: #ee720d;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius:50%;
}
.slider.round:before {
  border-radius: 50%;
}
body.dark-mode {
  background: linear-gradient(hsl(226, 100%, 4%), hsl(226, 71%, 22%));
  color: white;
}
body.dark-mode .head {
  background-color: hsl(225, 23%, 24%);
  border-color: hsl(226, 25%, 17%);
}
body.dark-mode .box {
  background-color: #535050;
  color: white;
}
body.light-mode {
  background: linear-gradient(#ffffff, #f2f2f2);
  color: #111;
}
body.light-mode .head {
  background-color: #ffffff;
  border-color: #ccc;
}
body.light-mode .box {
  background-color: #ffffff;
  color: #111;
}
body.light-mode .btn,
body.light-mode .bottombtn {
  color: #111;
  border-color: #aaa;
}

@media (max-width: 1024px){
.head,.main,.lastbox {
    width: 90vw;
}
.main > .right {
    width: 30vw;
}
.main > .right > .btn {
    width: 8vw;
}
.lastbox {
    grid-template-columns: repeat(2, 1fr);
    height: auto;
}
.box {
    width: 100%;
    height: auto;
}
.bottombtn {
    width: 8vw;
  }
}
@media (max-width: 481px) {
body {
    height: auto;
}
.head {
    width: 95vw;
    height: auto;
    flex-direction: row;
}
.h11 {
    font-size: 20px;
}
.h11 img {
    width: 6vw;
    height: auto;
}
.head > button {
    width: 10vw;
    height: 5vh;
}
.main {
    width: 95vw;
    flex-direction: column;
    gap: 1rem;
    height: auto;
}
.main > .right {
    width: 100%;
    justify-content: space-around;
}
.main > .right > .btn {
    width: 25%;
    height: 5vh;
}
.lastbox {
    width: 95vw;
    grid-template-columns: 1fr;
    height: auto;
}
.box {
    width: 100%;
    height: auto;
}
.bottombtn {
    width: 30%;
  }
}
@media (max-width: 480px) {
.h11 {
    font-size: 18px;
}
.main > .left {
    font-size: 20px;
}
.main > .right > .btn {
    width: 30%;
    font-size: 14px;
}
.bottombtn {
    width: 40%;
    font-size: 14px;
}
.switch {
    width: 45px;
    height: 22px;
}
.slider:before {
    width: 14px;
    height: 14px;
  }
}